// app global css in SCSS form

.formulario{
    margin-top: 5vh;
}

.button-wrapper{
    text-align: center;
}

.navegacion{

    .items{
        margin-top: 150px;
    }

    .encabezado{
        height: 150px;
    }
    
}

.titulo-toolbar{
    a{
        text-decoration: none;
        color: white;
    }
}
